HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### application.yml ###
application*.yml

### docker-compose.yml ###
docker/

### SSL
/src/main/resources/ssl/keystore.p12

### back-up for database ###
scripts/backup/
scripts/*_host.sh

### .properties ###
logback-variables.properties

### gcloud ###
/src/main/resources/gcloud/*.json
